@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#inter_bg {
  background-color: #222;
}

.splash_index {
  display: flex;
  justify-content: center;
}

.splash_index h1 {
  font-family: "NEXON Lv1 Gothic OTF";
  color: #fff;
}
